# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.ugpzuypoyeuiebqbzqcm:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.ugpzuypoyeuiebqbzqcm:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

# Better Auth
BETTER_AUTH_SECRET=
NEXT_PUBLIC_AUTH_URL=http://localhost:3000/api/auth
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_DOMAIN=localhost
NEXT_PUBLIC_APP_NAME=MyApp
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Social OAuth Providers
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Solana RPC
HELIUS_API_KEY=